<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tutorial 1</title>
    <!-- this stylesheet provides default styles for tutorials -->
    <link href="css/tutorial.css" rel="stylesheet">
    <!-- these scripts turn your make into a tutorial -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scripts/tutorial.js"></script>
    <script>
      jQuery(document).ready(function($){
        $("h2").each(function() {$(this).add($(this).nextUntil("h2")).wrapAll("<section />")});
        $('body').tutorial({smartlines: false});
      });
    </script>
  </head>
  <body>
    <!--
    <h1 class="post-title">{{ page.title }}</h1>
    -->
    {{ content }}

  </body>
</html>
